{% extends 'system/main.html' %}
{% load static %}

{% block body %}
<div class="d-flex flex-md-row align-items-center justify-content-center h-100 mh-100 w-100" height="100%">
    <div class="d-flex flex-column mh-100 h-100 mw-50 w-50 bg-dark text-light d-none d-sm-block p-5 space-path">
        <h1 class="d-flex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, deleniti eligendi maiores porro illo odio quo eum ad consequatur aut ea, doloremque molestias provident! Corporis praesentium, maxime fugiat, quam earum maiores eos cum magnam placeat cupiditate error numquam alias rem saepe accusamus at voluptatem quod debitis laboriosam ipsam neque ducimus dolores minus! Quisquam molestias cum expedita architecto facilis, eligendi voluptas itaque, voluptatibus maiores, provident facere!</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center mh-100 h-100 mw-50 w-50 bg-white text-dark p-5 space-path">
        <h1 class="head-txt">Log in</h1>
        <div class="get-data d-flex flex-column align-items-center mt-5 p-3 justify-content-between">
            <div class="get-entry w-75 m-2">
                <input type="email" name="" id="" placeholder="Email" class="w-100 entry">
            </div>
            <div class="get-entry w-75 m-2">
                <input type="password" name="" id="" placeholder="password" class="w-100 entry">
            </div>
            <div class="d-flex flex-row align-items-center w-75 m-2">
                <button type="reset" class="btn res bg-danger w-100">Reset</button>
                <button type="submit" class="btn sub bg-success w-100">Submit</button>
            </div>
        </div>

    </div>

</div>

{% endblock body %}