{% extends "statics/works1/port_2.html" %}
{% load static %}

{% block body %}
<div class="header w-100">
    <nav class="navbar navbar-expand-sm bg-light justify-content-around">
        <div class="frame-logo-lib">
            <a href="library" class="nav-link">
                <img src="http://lib.sskru.ac.th/libsskru/images/logo.png" alt="" class="img-logo-lib">
            </a>
        </div>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar1" class="collapse navbar-collapse ">
            <ul class="navbar-nav ms-auto justify-content-center">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <div class="">
                            <h4 class="th-txt"><b>หน้าหลัก</b></h4>
                        </div>
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href="https://lib.sskru.ac.th/libsskru/about" class="nav-link">
                        <div class="">
                            <h4 class="th-txt"><b>เกี่ยวกับเรา</b></h4>
                        </div>
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href="https://lib.sskru.ac.th/libsskru/blog" class="nav-link">
                        <div class="">
                            <h4 class="th-txt"><b>ประชาสัมพันธ์</b></h4>
                        </div>
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <a href="https://lib.sskru.ac.th/libsskru/service" class="nav-link">
                        <div class="">
                            <h4 class="th-txt"><b>บริการ</b></h4>
                        </div>
                    </a>
                </li>
                <hr>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn nav-link bg-light">
                            <h4 class="th-txt"><b>ข้อมูลสารสนเทศ</b></h4>
                        </button>
                        <div class="dropdown-content bg-light">
                            <a href="https://lib.sskru.ac.th/libsskru/download" class="nav-link th-txt">
                                <h5><b>ข้อมูลสารสนเทศ</b></h5>
                            </a>
                            <a href="https://lib.sskru.ac.th/libsskru/file_download" class="nav-link th-txt">
                                <h5><b>ดาวน์โหลดเอกสาร</b></h5>
                            </a>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn nav-link bg-light">
                            <h4 class="th-txt"><b>ฐานข้อมูลออนไลน์</b></h4>
                        </button>
                        <div class="dropdown-content bg-light">
                            <a href="https://lib.sskru.ac.th/libsskru/online_database/online_db"
                                class="nav-link th-txt">
                                <h5><b>ฐานข้อมูลออนไลน์</b></h5>
                            </a>
                            <a href="https://tdc.thailis.or.th/tdc/basic.php" class="nav-link th-txt">
                                <h5><b>ฐานข้อมูล ThaiLIS</b></h5>
                            </a>
                            <a href="http://lawwebservice.com/SysLogin.aspx?ReturnUrl=%2fdefault.aspx"
                                class="nav-link th-txt">
                                <h5><b>ฐานข้อมูลกฏหมาย</b></h5>
                            </a>
                            <a href="https://www.tci-thaijo.org/" class="nav-link th-txt">
                                <h5><b>THAI JO</b></h5>
                            </a>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn nav-link bg-light">
                            <h4 class="th-txt"><b>E-BOOK</b></h4>
                        </button>
                        <div class="dropdown-content bg-light">
                            <a href="https://www.taylorfrancis.com/" class="nav-link th-txt">
                                <h5><b>CRCnetBASE</b></h5>
                            </a>
                            <a href="https://www.galepages.com/thsskru" class="nav-link th-txt">
                                <h5><b>GALE</b></h5>
                            </a>
                            <a href="https://www.theonebook.com/elibraryforstudent/index.php?action=Home"
                                class="nav-link th-txt">
                                <h5><b>The 1 Book E-Library</b></h5>
                            </a>
                        </div>
                    </div>
                </li>
                <hr>
                <li class="nav-item">
                    <a href="https://www.opac.sskru.ac.th/opac/main/index.aspx" class="nav-link">
                        <div class="">
                            <h4 class="th-txt"><b>WEB OPAC</b></h4>
                        </div>
                    </a>
                </li>
                <hr>

            </ul>
        </div>
    </nav>
</div>
<div>
    <section id="slider">
        <div class="carousel-path">
            <div class="carousel slide" data-bs-ride="carousel" id="Myslider">
                <ol class="carousel-indicators">
                    <button data-bs-target="#Myslider" data-bs-slide-to="0" class="active"></button>
                    <button data-bs-target="#Myslider" data-bs-slide-to="1"></button>
                    <button data-bs-target="#Myslider" data-bs-slide-to="2"></button>
                    <button data-bs-target="#Myslider" data-bs-slide-to="3"></button>
                    <button data-bs-target="#Myslider" data-bs-slide-to="4"></button>

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item img-fluid active">
                        <img src="http://lib.sskru.ac.th/libsskru/images/cover_slide/1.jpg" alt="" class="w-100">
                        <div class="carousel-caption th-txt bg-caption d-none d-sm-block">
                            <h1>Caption</h1>
                            <h3>แอปเปิล เชฟโปรเจคท์ ฟีด คอร์ป อ่วมแพนดาพะเรอเจ็ต ฮาโลวีนทับซ้อนรีเสิร์ช สเตชัน
                                เอ็นทรานซ์คอรัปชั่นแคร็กเกอร์ สี่แยกล็อบบี้ซิมพันธกิจ </h3>

                        </div>
                    </div>
                    <div class="carousel-item img-fluid">
                        <img src="http://lib.sskru.ac.th/libsskru/images/cover_slide/4.jpg" alt="" class="w-100">
                        <div class="carousel-caption th-txt bg-caption d-none d-sm-block">
                            <h1>Caption</h1>
                            <h3>แอปเปิล เชฟโปรเจคท์ ฟีด คอร์ป อ่วมแพนดาพะเรอเจ็ต ฮาโลวีนทับซ้อนรีเสิร์ช สเตชัน
                                เอ็นทรานซ์คอรัปชั่นแคร็กเกอร์ สี่แยกล็อบบี้ซิมพันธกิจ แคปซูเอี๋ยสตรอว์เบอร์รี</h3>

                        </div>
                    </div>
                    <div class="carousel-item img-fluid">
                        <img src="http://lib.sskru.ac.th/libsskru/images/cover_slide/6.jpg" alt="" class="w-100">
                        <div class="carousel-caption th-txt bg-caption d-none d-sm-block">
                            <h1>Caption</h1>
                            <h3>แอปเปิล เชฟโปรเจคท์ ฟีด คอร์ป อ่วมแพนดาพะเรอเจ็ต ฮาโลวีนทับซ้อนรีเสิร์ช สเตชัน
                                เอ็นทรานซ์คอรัปชั่นแคร็กเกอร์ สี่แยกล็อบบี้ซิมพันธกิจ แคปซูเอี๋ยสตรอว์เบอร์รี
                                นิรันดร์สมิติเวชดาวน์ สป็อต แทงโก้วาริชศาสตร์ ออร์แกนิค เซ็นเตอร์โอเพ่นแฟรนไชส์ราเมน
                            </h3>

                        </div>
                    </div>
                    <div class="carousel-item img-fluid">
                        <img src="http://lib.sskru.ac.th/libsskru/images/cover_slide/3.jpg" alt="" class="w-100">
                        <div class="carousel-caption th-txt bg-caption d-none d-sm-block">
                            <h1>Caption</h1>
                            <h3>แอปเปิล เชฟโปรเจคท์ ฟีด คอร์ป อ่วมแพนดาพะเรอเจ็ต</h3>

                        </div>
                    </div>
                    <div class="carousel-item img-fluid">
                        <img src="http://lib.sskru.ac.th/libsskru/images/cover_slide/2.jpg" alt="" class="w-100">
                        <div class="carousel-caption th-txt bg-caption d-none d-sm-block">
                            <h1>Caption</h1>
                            <h3>แอปเปิล เชฟโปรเจคท์ ฟีด คอร์ป อ่วมแพนดาพะเรอเจ็ต ฮาโลวีนทับซ้อนรีเสิร์ช สเตชัน
                                เอ็นทรานซ์คอรัปชั่นแคร็กเกอร์ สี่แยกล็อบบี้ซิมพันธกิจ แคปซูเอี๋ยสตรอว์เบอร์รี
                                นิรันดร์สมิติเวชดาวน์ สป็อต แทงโก้วาริชศาสตร์ ออร์แกนิค เซ็นเตอร์โอเพ่นแฟรนไชส์ราเมน
                                บร็อกโคลีแมคเคอเรลบูติค ตัวเองสต๊อก โค้ชคอนแทคอพาร์ทเมนต์ เหมยแครกเกอร์รีโมต
                                แอพพริคอทออเดอร์หลวงตาคลิป</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
{% endblock body %}